
<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
        <h2>Erreur</h2>
        
        <blockquote class="text-justify">
          <p>Une erreur est survenue. Vous pouvez contacter l'administrateur pour l'avertir.</p>
          <p>N'hésitez pas à détailler les actions que vous avez effectuées avant d'arriver sur cette page d'erreur.</p>
          <p class="text-center"><a href="mailto: administrateur@pacbad.fr">Contacter l'administrateur</a></p>
        </blockquote>
        
        <a routerLink="/" class="btn btn-default">Retour à l'accueil</a>&nbsp;
        <button class="btn btn-info" (click)="back()">Retour</button>
        
    </div>
  </div>
</div>