
<chargement-ecran *ngIf="!ready"></chargement-ecran>

<div class="container-fluid text-center" *ngIf="ready">
  <div class="row content">
    <div class="col-xs-16 col-sm-6 col-sm-offset-3">
        <h2>Bonjour {{user.prenom}}</h2>
        <form name="form" (ngSubmit)="f.form.valid && update()" #f="ngForm" novalidate class="form-horizontal">
            <fieldset>
              <legend>Informations du compte</legend>
              <div class="form-group">
                  <label for="identifiant" class="col-sm-6 control-label">Identifiant</label>
                  <div class="col-sm-6 col-xs-12 input-group">
                    <input type="text" class="form-control" name="identifiant" placeholder="Identifiant" [(ngModel)]="user.identifiant" #identifiant="ngModel" disabled />
                  </div>
              </div>
              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !ancienPassword.valid }">
                  <label for="ancienPassword" class="col-sm-6 control-label">Ancien mot de passe</label>
                  <div class="col-sm-6 col-xs-12 input-group">
                    <input type="password" class="form-control" name="ancienPassword" placeholder="Ancien mot de passe" [(ngModel)]="user.ancienPassword" #ancienPassword="ngModel" />
                  </div>
              </div>
              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                  <label for="password" class="col-sm-6 control-label">Nouveau mot de passe</label>
                  <div class="col-sm-6 col-xs-12 input-group">
                    <input type="password" class="form-control" name="password" placeholder="Nouveau mot de passe" [(ngModel)]="user.password" #password="ngModel" />
                  </div>
              </div>
              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !passwordRepeat.valid }">
                  <label for="passwordRepeat" class="col-sm-6 control-label">Répétez le mot de passe</label>
                  <div class="col-sm-6 col-xs-12 input-group">
                    <input type="password" class="form-control" name="passwordRepeat" placeholder="Répétez le mot de passe" [(ngModel)]="user.passwordRepeat" #passwordRepeat="ngModel" />
                  </div>
              </div>
              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !mail.valid }">
                  <label for="mail" class="col-sm-6 control-label">E-mail</label>
                  <div class="col-sm-6 col-xs-12 input-group">
                    <input type="email" class="form-control" name="mail" placeholder="E-mail" [(ngModel)]="user.mail" #mail="ngModel" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,6})+$" />
                  </div>
                  <div *ngIf="f.submitted && !mail.valid" class="help-block">L'email est obligatoire</div>
              </div>
            </fieldset>
            <fieldset>
              <legend>Informations FFBaD</legend>
              <div class="form-group">
                  <label for="licence" class="col-sm-6 control-label">Licence</label>
                  <div class="col-sm-6 col-xs-12 input-group">
                    <input type="number" class="form-control" name="licence" placeholder="Licence" [(ngModel)]="user.licence" disabled />
                  </div>
              </div>
              <div class="form-group">
                  <label for="nom" class="col-sm-6 control-label">Nom</label>
                  <div class="col-sm-6 col-xs-12 input-group">
                    <input type="text" class="form-control" name="nom" placeholder="Nom" [(ngModel)]="user.nom" disabled />
                  </div>
              </div>
              <div class="form-group">
                  <label for="prenom" class="col-sm-6 control-label">Prénom</label>
                  <div class="col-sm-6 col-xs-12 input-group">
                    <input type="text" class="form-control" name="prenom" placeholder="Prénom" [(ngModel)]="user.prenom" disabled />
                  </div>
              </div>
            </fieldset>
            <div class="form-group has-error" *ngIf="error">
                <div class="help-block">{{error}}</div>
            </div>
            <div class="form-group">
              <button type="button" routerLink="/" class="btn btn-secondary">Retour</button> &nbsp;
              <button type="submit" [disabled]="loading" class="btn btn-primary">Mettre à jour</button>
              <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            </div>
        </form>
    </div>
  </div>
</div>


