
<chargement-ecran *ngIf="!ready"></chargement-ecran>

<div class="container-fluid text-center" *ngIf="ready">
  <div class="row content">
    <div class="col-xs-16 col-sm-6 col-sm-offset-3">
    
      <h2>Liste des tournois à venir</h2>

      <table class="table table-striped table-hover table-bordered">
        <tr>
          <th>Nom</th>
          <th>Date début</th>
          <th>Date fin</th>
        </tr>
      
        <tr *ngFor="let tournoi of tournois">
          <td>{{tournoi.nom}}</td>
          <td>{{tournoi.dateDebut|date:"dd/MM/yyyy"}}</td>
          <td>{{tournoi.dateFin|date:"dd/MM/yyyy"}}</td>
        </tr>
      </table>
        
    </div>
  </div>
</div>
